@model IEnumerable<StoreFront.DATA.EF.Product>

@{
    ViewBag.Title = "Products";
}

<h2 style="text-align:center; margin-top: 1em">Products</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductStatus.StatusName)
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                <img src="~/Content/imgPictures/Products/t_@item.Image" alt="Product Image" title="@item.ProductName" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductStatus.StatusName)
            </td>

            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) | <!--can only delete a book if there is no book authors-->
                    @if (item.ProductStatusID == 2)
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, new { @class = "text-danger" })
                    }
                    else
                    {
                        <span class="text-danger">In Use</span>
                    }
                </td>
            }

        </tr>
    }

</table>
