@model StoreFront.DATA.EF.Product

<div>
    @*<h4>Product</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="~/Content/img/productImage/@Model.Image" , alt="@Model.ProductName" />
        </dd>
        <dt><label>Quantity: </label></dt>
        <dd>
            @using (Html.BeginForm("AddToCart", "Products", new { productID = Model.ProductID }, FormMethod.Post))
            {
                @*//use a hiddenFor() to pass the ProductID*@
                @Html.HiddenFor(x => x.ProductID)

                @Html.TextBox("Qty", 1, new { @class = "form=control", style = "max-width:75px; display:inline;" })
                //submit button
                <input type="submit" value="Add To Cart" class="btn btn-primary" name="qty" />
            }
        </dd>
    </dl>
</div>
<div class="col-md-6">
    <img src="~/Content/img/productImage/" alt="Product Image" title="@Model.ProductName" />
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
