<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="~/Content/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon.ico">

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/templatemo.css">
    <link rel="stylesheet" href="~/Content/css/custom.css">


    <!--FONT AWESOME LINK-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="~/Content/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,300&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!----------styles------>

    @* ADDED jQueryUI CSS CDN - note: themenames are swappable.*@
    @*NOTE, Module 5 AJAX: find names at jqueryui.com/themeroller, gallyery tab (like excite-bike, south-street or sunny)*@
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css">

    <!-----------STYLING FOR MVC PAGING-------------->
    <link href="~/Content/PagedList.css" rel="stylesheet" />

    <!--CUSTOM STYLE SHEET-->
    <link href="~/Content/CustomStyle.css" rel="stylesheet" />
    <!--

    TemplateMo 559 Zay Shop

    https://templatemo.com/tm-559-zay-shop

    -->
</head>


<body>
    <div class="menu">
        <header>
            <a href="@Url.Action("Index", "Home")"> <img class="logo" src="~/Content/img/lavajavalogo.png" /></a>
        </header>

        <nav class="navbar">
            <ul>
                <li><a class="nav-link navFont" href="@Url.Action("Index","Home")">Home<span class="sr-only">(current)</span></a></li>
                <li><a class="nav-link navFont" href="@Url.Action("Index", "Products")">Products</a></li>
                <li>  <a class="nav-link navFont" href="@Url.Action("Index", "ShoppingCart")">Shopping Cart</a></li>  
                <li>  <a class="nav-link navFont" href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                <li class="nav-item dropdown">
                    @*<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Register/Log In</a>
                    <div class="dropdown-menu account-dropdown" style="background-color: lightgray;">*@
                        @Html.Partial("_LoginPartial")
                    </div>
                </li>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                    <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                }
            </ul>
            
        </nav>
    </div>
    @if (Session["cart"] != null)
    {<ul>
            <li>
                @{
                    Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel> prods = (Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>)Session["cart"];
                    var prodCount = prods.Sum(p => p.Value.Qty);
                }
                <a href="@Url.Action("Index", "ShoppingCart")">
                    <i class="fa fa-shopping-cart fa-lg"></i>
                    <sup style="color:black;
                                background-color:red;
                                border-radius: 40%;
                                display:inline-block;
                                height: 1em;
                                padding:1em;
                                text-align:center">

                        @prodCount
                    </sup>
                </a>
            </li>
        </ul>
    }


    <div id="mainContent">
        @RenderBody()
    </div>

    <!-- Start Script -->
    <script src="~/Content/js/jquery-1.11.0.min.js"></script>
    <script src="~/Content/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/templatemo.js"></script>
    <script src="~/Content/js/custom.js"></script>

    <!------------scripts-------------->

    <!--ADDEDjQuery UI CDN-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- ADDED jQuery Ajax CDN-->
    <script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("scripts", required: false)
    <!-- End Script -->
</body>

</html>